<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
            <div class="form-group col-md-6">
                <label>Nom</label>
                <input type="text" name="nomEnseignant" class="form-control" formControlName="nom" [(ngModel)]="enseignant.nomEnseignant">
                <div class="alert alert-danger"
                    *ngIf="updateForm.controls['nom'].errors && updateForm.controls['nom'].touched">
                    <div *ngIf="updateForm.controls['nom'].hasError('required')">
                        Ce Champ est obligatoire
                    </div>
                    <div *ngIf="updateForm.controls['nom'].hasError('pattern')">
                        Erreur pattern
                    </div>
                    <div *ngIf="updateForm.controls['nom'].hasError('minlength')">
                        La taille min est 4
                    </div>
                </div>
            </div>


            <div class="form-group col-md-6">
                <label>Prenom</label>
                <input type="text" name="prenomEnseignant" class="form-control" formControlName="prenom" [(ngModel)]="enseignant.prenomEnseignant">
                <div class="alert alert-danger"
                    *ngIf="updateForm.controls['prenom'].errors && updateForm.controls['prenom'].touched">
                    <div *ngIf="updateForm.controls['prenom'].hasError('required')">
                        Ce Champ est obligatoire
                    </div>
                    <div *ngIf="updateForm.controls['prenom'].hasError('pattern')">
                        Erreur pattern
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Grade</label>
                <select name="grades" class="form-control" [(ngModel)]="enseignant.grade" formControlName="grades">
                    <option  selected value="">Choix</option>
                    <option value="A">A</option> 
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <div class="alert alert-danger"
                    *ngIf="updateForm.controls['grades'].errors && updateForm.controls['grades'].touched">
                    Ce Champ est obligatoire
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Matière</label>
                <select name="matiere" class="form-control" [(ngModel)]="enseignant.matiere" formControlName="matieres">
                    <option  selected value="">Choix</option>
                    <option value="SPRING">SPRING</option>
                    <option value="ANGULAR">ANGULAR</option>
                    <option value="SQL">SQL</option>
                    <option value="DATAMINING">DATAMINING</option>
                </select>
                <div class="alert alert-danger"
                    *ngIf="updateForm.controls['matieres'].errors && updateForm.controls['matieres'].touched">
                    Ce Champ est obligatoire
                </div>
            </div>
            <div>
                <div class="form-group col-md-6">
                    <label>Salaire</label>
                    <input type="number" name="salaire" class="form-control" [(ngModel)]="enseignant.salaire" formControlName="salaires">
                    <div class="alert alert-danger"
                        *ngIf="updateForm.controls['salaires'].errors && updateForm.controls['salaires'].touched">
                        <div *ngIf="updateForm.controls['salaires'].hasError('required')">
                            Ce Champ est obligatoire
                        </div>
                        <div *ngIf="updateForm.controls['salaires'].hasError('min')">
                            Valeur negatif !!!
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                <img  [src]="enseignant.photoProfil" alt="" style="width:300px;height:250px">
            </div> -->
            <br>
            <button class="btn btn-success" type="submit" [disabled]="updateForm.invalid" [ngStyle]="updateForm.invalid ? {'background-color': 'red'}:{'background-color': 'green'}">
                Update
            </button>
            <button type="reset" class="btn btn-success" (click)="reset()">Clear</button>
        </form>
    </div>
</div>