<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">Statistique Enseignant</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="typography">
                            <div class="card-title">
                                <div>
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>